@model IEnumerable<ContactViewModel>
@{
    bool insertedBlankForNoDivNoDept = false;
}
@foreach (var contact in Model)
{
    var hasDivision = !string.IsNullOrWhiteSpace(contact.Division);
    var hasDepartment = !string.IsNullOrWhiteSpace(contact.Department);

    if (!hasDivision && !hasDepartment && !insertedBlankForNoDivNoDept)
    {
        insertedBlankForNoDivNoDept = true;
        <tr class="table-secondary">
            <td colspan="4"></td>
        </tr>
    }

    <tr>
        <td>@contact.DisplayName</td>
        <td>
            <a asp-action="Title" asp-route-title="@contact.Title">
                @contact.Title
            </a>
        </td>
        <td>@contact.PhoneNumber</td>
        <td>
            @if (!string.IsNullOrEmpty(contact.Email))
            {
                <a href="mailto:@contact.Email">@contact.Email</a>
            }
        </td>
    </tr>
}


