@model IEnumerable<ContactViewModel>
@foreach (var contact in Model)
{
    <tr>
        <td>@contact.DisplayName</td>
        <td>
            <a asp-action="Title" asp-route-title="@contact.Title">
                @contact.Title
            </a>
        </td>
        <td>@contact.PhoneNumber</td>
        <td>
            @if (!string.IsNullOrEmpty(contact.Email))
            {
                <a href="mailto:@contact.Email">@contact.Email</a>
            }
        </td>
    </tr>
}


